<!DOCTYPE html>
<html>
    
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/style2.css">
    

</head>
<body>
    <header>A place where you can practice maths! Select the symbol you want to <b>practice</b>!!!</header>
    <div class="lk">
    <a href='../static/html/game.html'><img src='../static/img/4731666.png'></a>
    <a href='../static/html/sub.html'><img src='../static/img/5761345.png'></a>
    <a href='../static/html/mul.html'><img src='../static/img/4731668.png'></a>
    <a href='../static/html/div.html'><img src='../static/img/573955.png'></a>
    </div>

    
</body>
</html>